Voyage_Guide_Client/Connected Services/VoyageClient/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRegister" nillable="true" type="tns:UserRegister" />
  <xs:complexType name="Custom_Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Custom_Exception" nillable="true" type="tns:Custom_Exception" />
  <xs:complexType name="VoyageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="VoyageCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoyageContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoyageState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoyageData" nillable="true" type="tns:VoyageData" />
  <xs:complexType name="ArrayOfImageDataContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDataContent" nillable="true" type="tns:ImageDataContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageDataContent" nillable="true" type="tns:ArrayOfImageDataContent" />
  <xs:complexType name="ImageDataContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="VoyageContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDataContent" nillable="true" type="tns:ImageDataContent" />
</xs:schema>