Voyage_Guide_Client/Connected Services/VoyageClient/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" />
  <xs:element name="registerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" minOccurs="0" name="user" nillable="true" type="q1:UserRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VoyagePassword" nillable="true" type="xs:string" />
  <xs:element name="VoyageUserName" nillable="true" type="xs:string" />
  <xs:element name="AuthenticateReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VoyageisAuthenticated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoyageUserId" type="xs:int" />
  <xs:element name="addNewData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" minOccurs="0" name="data" nillable="true" type="q2:VoyageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewVoyageData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" minOccurs="0" name="data" nillable="true" type="q3:VoyageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewVoyageDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewVoyageDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>