Voyage_Guide_Client/Connected Services/VoyageClient/Voyage_Guide_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Voyage_Guide_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52350/Voyage_Guide_Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52350/Voyage_Guide_Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52350/Voyage_Guide_Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Voyage_Guide.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVoyage_Guide_Services_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IVoyage_Guide_Services_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_authenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_authenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IVoyage_Guide_Services">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoyage_Guide_Services/DoWork" message="tns:IVoyage_Guide_Services_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoyage_Guide_Services/DoWorkResponse" message="tns:IVoyage_Guide_Services_DoWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRegisterService">
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterService/registerUser" message="tns:IRegisterService_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterService/registerUserResponse" message="tns:IRegisterService_registerUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="authenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/authenticateUser" message="tns:IAuthService_authenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/authenticateUserResponse" message="tns:IAuthService_authenticateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVoyage_Guide_Services" type="tns:IVoyage_Guide_Services">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IVoyage_Guide_Services/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRegisterService" type="tns:IRegisterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IRegisterService/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticateUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/authenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Voyage_Guide_Services">
    <wsdl:port name="BasicHttpBinding_IVoyage_Guide_Services" binding="tns:BasicHttpBinding_IVoyage_Guide_Services">
      <soap:address location="http://localhost:52350/Voyage_Guide_Services.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRegisterService" binding="tns:BasicHttpBinding_IRegisterService">
      <soap:address location="http://localhost:52350/Voyage_Guide_Services.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:52350/Voyage_Guide_Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>